.applications-menu-toggle-switch {
    padding: 3px;
}

.applications-menu-toggle-switch:active {
    background-color: #4c4c4c;
}

.applications-menu-item-box {
    spacing: 6px;
}

.applications-menu-button-icon {
    icon-size: 1.7em;
}

.applications-menu-dialog-box {
    spacing-rows: 0.75em;
    spacing-columns: 2.5em;
}

.applications-menu-dialog-label {
    font-size: 11pt;
    font-weight: bold;
    color: white;
}

.applications-menu-dialog {
    spacing: 2em;
}
