#bottomPanel {
    color: #ffffff;
    background-color: black;
    font-size: 10.5pt;
    height: 1.86em;
}

.bottom-panel {
    spacing: 6px;
}

.frippery-ws-switcher {
    spacing: 6px;
}

.workspace-button {
    min-width: 1em;
    font-weight: bold;
    color: #888;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
    transition-duration: 100;
    border: 1px solid #444;
    padding: 2px;
    font-family: "Cousine", monospace;
    font-size: 90%;
    border-width: 2px;
    margin-top: 2px;
    text-align: center;
    padding-left: .3em;
    padding-right: .3em;
}

.workspace-button:starts-section {
    margin-left: 0.5em;
}

.workspace-button:is-active {
    border-color: #fff;
    background: rgba(2, 2, 2, 0.35);
}

.workspace-button:has-windows {
    color: white;
}

#bottomPanel.solid .workspace-button:is-active {
    background: #444;
}

#bottomPanel.solid .workspace-button:outlined {
    padding: 1px;
    border: 2px solid white;
    background: #222;
}

.workspace-row-indicator {
    width: 1.2em;
    -active-color: #fff;
    -inactive-color: #555;
}

.workspace-button:hover {
    background-color: #444;
}

.window-list-box {
    spacing: 6px;
}

.window-list-item-box {
    spacing: 3px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #000;
    color: #bbb;
    padding: 0px 2px;
    -st-natural-width: 16.5em;
    max-width: 16.5em;
}

.window-list-item-box:focused {
    color: white;
    border-color: #bbb;
    background: #282828;
}

.window-list-item-box:minimized {
    color: #666;
}

.window-list-item-label {
    font-weight: bold;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
    min-width: 5px;
}

.window-list-item-label:focused {
    text-shadow: black 0px 2px 2px;
}

.bottom-panel-tooltip {
    border-radius: 7px;
    padding: 4px 12px;
    background-color: rgba(24,24,24,0.8);
    text-align: center;
    color: white;
    -y-offset: 6px;
}

.workspace-dialog-grid {
    spacing-rows: 1.0em;
    spacing-columns: 2.5em;
}

.bottom-panel-toggle-switch {
    padding: 3px;
}

.bottom-panel-toggle-switch:active {
    background-color: #4c4c4c;
}

.workspace-dialog-label {
    font-size: 11pt;
    font-weight: bold;
    color: white;
}

.workspace-dialog-entry {
    font-weight: bold;
    width: 6em;
    selection-background-color: white;
    selected-color: black;
}
